@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SearchPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "main.cshtml";
	var searchQuery = Request.QueryString["query"];
	IEnumerable<PublishedSearchResult> searchResults;
	var resultsCount = 0;
	
	if(!string.IsNullOrEmpty(searchQuery)){
	    searchResults = Umbraco.ContentQuery.Search(searchQuery, string.Empty, "InternalIndex")
	    .Where(w=>w.Content.IsDocumentType("newsArticle"));
	    resultsCount = searchResults != null && searchResults.Any() ? searchResults.Count() : 0;
	}else {
	    searchResults = null;
	}
    var heroOverlayColor = Model.Value<string>("heroOverlayColor");
	var heroOverlayOpacity = Model.Value<string>("heroOverlayOpacity");
}

@if(!string.IsNullOrEmpty(heroOverlayColor)){
<style>
    .home-hero > .overlay{
        background-color: #@heroOverlayColor;
        opacity: @heroOverlayOpacity;
    }
</style>
}
@Html.Partial("Hero")
<div class="container">
    <div class="row">
    <div class="col"></div>
        <div class="col-8">
            <header>
    <form action="@Model.Url" method="Get">
        <fieldset>
        <div class="input-group mb-3">
            <input type="text" class="search-box form-control" placeholder="Search..." name="query">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary search-button" type="submit">Search</button>
            </div>
           
        </fieldset>
        </div>
    </form>
</header>
<div class="col"></div>
@if(!string.IsNullOrEmpty(searchQuery)){
    <div class="container">
    <div class="row">
    <div clasS="col"></div>
    <div class="col-8">
    <section>
        @if(resultsCount == 0 || searchResults == null){
        <text>
            No results were found for @searchQuery
        </text>
        } else {
        <text>
            We found @resultsCount result(s).
        </text>
        <ul>
        @foreach(var result in searchResults){
            <li>
                <h3>
                    <a href="@result.Content.Url">@result.Content.Name</a>
                </h3>
            </li>
        }
        </ul>
        }
    </section>
    </div>
    <div clasS="col"></div>
    </div>
    </div>
}
        </div>
    </div>
</div>
