@inherits Umbraco.Web.Mvc.UmbracoViewPage<CMSUppgift.core.ViewModel.ForgottenPasswordViewModel>
@using CMSUppgift.core.Controllers

@if(Umbraco.MemberIsLoggedOn()) 
{ 
    <h2>You are already logged in!</h2>
}
else if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <p>An email has ben sent to the emailaddress you provided.</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                @using (Html.BeginUmbracoForm<LoginController>("HandleForgottenPassword"))
                {
                    <p>Enter your email address and we will send you a link to reset your password.</p>
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(m=>m.EmailAddress)
                    @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email address" })
                    <button name="submit" class="btn btn-primary" type="Submit">Send!</button>
                }
                <a href="/login"></a>
            </div>
        </div>
    </div>
}
