@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	var heroImage = Model.Value<IPublishedContent>("heroImage")?.Url ?? "";
	var heroImagePosition = Model.Value<string>("heroImagePosition");
	
}
@if(!string.IsNullOrEmpty(heroImagePosition)){
<style>
    .home-hero {
    background: no-repeat center @heroImagePosition;
    }
</style>
}
<div class="jumbotron jumbotron-fluid home-hero" style="background-image:url('@heroImage')">
    <div class="overlay"></div>
    <div clasS="inner">
        <div class="container">
        <h1 class="display-4">@Model.Value("heroTitle")</h1>
        <p class="lead">@Model.Value("heroText")</p>
      </div>
    </div>
</div>